<li class="active">
	<a href="<%= tickets_path %>"> <i class="fa fa-ticket"></i> <span>Tickets</span> </a>
</li>
<li>
	<a href="<%= admins_path %>"><i class="fa fa-user"></i> <span>Admins</span></a>
</li>
<li>
	<a href="<%= clients_path %>"><i class="fa fa-users"></i> <span>Customers</span></a>
</li>
<li>
	<a href="<%= user_groups_path %>"><i class="fa fa-users"></i> <span>Groups</span></a>
</li>
<li>
	<a href="<%= supports_path %>"><i class="fa  fa-star"></i> <span>Support Members</span></a>
</li>
<li>
	<a href="<%= organizations_path %>"><i class="fa fa-gear"></i> <span>Organizations</span></a>
</li>
<li>
	<a href="<%= products_path %>"><i class="fa fa-desktop"></i> <span>Products</span></a>
</li>
<li>
	<a href="<%= purchases_path %>"><i class="fa fa-inr"></i> <span>Purchases</span></a>
</li>