<aside class="left-side sidebar-offcanvas">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<div class="user-panel">
		  <div class="pull-left image">
			  <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p>
					Hello, <%= current_user.first_name.to_s %>
				</p>

				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- Sidebar user panel -->

		<!-- search form -->

		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<% if current_user.admin? %>
			  <%= render "/layouts/foswipe/admin_menu"%>
			<% elsif current_user.agent? %>
			  <%= render "/layouts/foswipe/agent_menu"%>
			<% elsif current_user.customer? %>
			  <%= render "/layouts/foswipe/customer_menu"%>
			<% end %>

		</ul>
	</section>
	<!-- /.sidebar -->
</aside>
