<!DOCTYPE html>
<html>
	<head>
		<title>Ticketing System</title>
		<%= stylesheet_link_tag    "foswipe/application", media: "all" %>
		<%= javascript_include_tag "foswipe/application" %>
		<%= csrf_meta_tags %>
	</head>
	<body class="skin-blue">
		<!-- header logo: style can be found in header.less -->
		<%= render "layouts/foswipe/header" %>
		<div class="">
			<div class="wrapper row-offcanvas row-offcanvas-left">
				<!-- Left side column. contains the logo and sidebar -->
				<%= render "layouts/foswipe/left_slider" %>

				<!-- Right side column. Contains the navbar and content of the page -->

				<%= render "layouts/foswipe/right_slider" %>
				<!-- /.right-side -->
			</div><!-- ./wrapper -->
		</div>
		<!-- add new calendar event modal -->

	</body>
</html>
