<div class="row">
<div class="container">
   <div class="col-md-4"></div>
   <div class="col-md-4">
      <div class="panel panel-primary">
  <div class="panel-heading"><h3 class="panel-title"><strong>Sign Up </strong></h3></div>
  <div class="panel-body">
        

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :class => "form-signin" ,:role=>"form") do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email,:class => "form-control", :placeholder => "Email Address", autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, :class => "form-control", :placeholder => "Enter Your Password", autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Re-enter Your Password", autocomplete: "off" %></div><br>
    
    
  <div>
  <%= link_to 'Back', foswipe.new_user_session_path, :class=>"btn btn-primary btn-sm" %>
  <%= f.submit "Submit", :class=>"btn btn-primary btn-sm", :style=>"float:right;" %></div>
<% end %>
</div></div></div>
<div class="col-md-4"></div>

</div>
</div>
<%#= render "devise/shared/links" %>
