<% if flash[:notice]%>
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		&times;
	</button>
	<%= flash[:notice]%>
</div>
<% end %>

<h1>Listing Clients</h1>

<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr bgcolor="#1E90FF">
      <th>Name</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
            <% if approved == true %>
              <td><%= approved %></td>
            <% else %>
              <td><%= unapproved %>
            <% end %>
        <td><%= link_to 'Show', admin_client_path(client) %></td>
        <td><%= link_to 'Edit', edit_admin_client_path(client) %></td>
        <td><%= link_to 'Destroy', admin_client_path(client), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Client', new_admin_client_path, :class=>"btn btn-primary btn-sm" %>
