
<% if flash[:notice]%>
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		&times;
	</button>
	<%= flash[:notice]%>
</div>
<% end %>


<div class="bs-example">
	<div class="panel panel-primary">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<b>Ticket Details</b>
		</div>
		<li class="list-group-item">
			<b>Title:</b> <%= @ticket.title %>
		</li>
		<div class="panel-body">
			<p>
				<b>Description:</b> <%= @ticket.description %>
			</p>
		</div>

		<!-- List group -->
		<ul class="list-group">
			
			<li class="list-group-item">
				<b>Priority:</b> <%= @ticket.priority %>
			</li>
			<li class="list-group-item">
				<b>Assigned To:</b> <% if @ticket.agent %>
				<%= @ticket.agent.name %>
				<% end %>
			</li>
			<div class="panel-body">
				<p>
					<b>Support Notes:</b> <%= @ticket.support_notes %>
				</p>
			</div>

			<li class="list-group-item">
				<b>Status:</b><%= @ticket.status %>
			</li>
		</ul>
	</div>
</div>

<% if current_user.agent?  %>
<br>
<br>
<br>
<div class="row">
	<div class="col-md-4">
		<%= form_for (@ticket) do|f| %>
		<%= f.label "Ticket Status:" %>
		<%= f.select :status, [['Open','open'],['Pending','pending'],['Resolved','resolved'],['Closed','closed'],['Waiting on Customer','waiting on Customer'],['Waiting on Third Party','waiting on Third Party']], {},:class=>"selectpicker"  %>
		<br>
		<br>

		<%= form_tag('/assign_support_notes_to_tickets') do %>

		<%= label_tag("Support notes:")%>
		<br>
		<%= text_area_tag("ticket[support_notes]",nil,:cols => "30", :rows => "5")%>
		<%= hidden_field_tag("ticket[ticket_id]", @ticket.id)%>
		<%= hidden_field_tag("ticket[support_id]", current_user.id)%>
		<br>
		<%= submit_tag 'Submit', :class=>"btn btn-primary btn-sm" %>

		<% end %>
		<% end %>
	</div>
	<br>

</div>
<br>
<%= link_to 'Back', agents_path, :class=>"btn btn-lg btn-primary" %>
<% end %>

<!-- <% if current_user.type == 'Client' %>
<%= link_to 'Back', clients_path, :class=>"btn btn-lg btn-primary" %>
<% end %> -->

<% if current_user.admin? %>
<br>
<br>
<br>
<%= form_tag('/assign_tickets_to_supports') do %>
<%= label_tag("Support List:")%>
<%= collection_select(:ticket, :support_id, Support.all, :id, :name) %>
<%= hidden_field_tag("ticket[ticket_id]", @ticket.id)%>&nbsp;&nbsp;&nbsp;
<%= submit_tag 'Submit', :class=>"btn btn-primary btn-sm" %>
<% end %>
<br>
<%= link_to 'Back', admins_path, :class=>"btn btn-lg btn-primary" %>
<% end %>

<% if current_user.customer? %>
<h1>Listing comments</h1>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><b>All Comments</b></div>
  <div class="panel-body">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><div class="panel-body"><%= comment.content %></div></td>
        <td><%= comment.user %></td>
         <td><%= link_to 'Destroy', comment_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table></div></div>
<br>
<%= render 'comments/form' %>
<% end %>

