<div class="row">
<div class="container">
<div class="col-md-4"></div>
   <div class="col-md-4">
      
        <h2 class="form-signin-heading">Forgot Your Password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { :class => "form-signin" ,:role=>"form" }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email,:class => "form-control", :placeholder => "Email Address", autofocus: true %></div><br> 

  <div><%= f.submit "Send me reset password instructions", :class=>"btn btn-primary btn-sm" %>
  	<%= link_to 'Back', new_user_session_path, :class=>"btn btn-primary btn-sm", :style=>"float:right;" %>
  </div>
<% end %>
</div>
<div class="col-md-4"></div>
</div>
</div>
<%#= render "devise/shared/links" %>
