<%= form_for(@user_chat) do |f| %>
  <% if @user_chat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_chat.errors.count, "error") %> prohibited this user_chat from being saved:</h2>

      <ul>
      <% @user_chat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
