<% if flash[:notice]%>
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		&times;
	</button>
	<%= flash[:notice]%>
</div>
<% end %>
</div>

<h1>Welcome Client</h1>

<p>
	<strong>Name:</strong>
	<%= current_user.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= current_user.email %>
</p>

<br>

<% if current_user.type == 'Client' %>

<div class="table-responsive">

	<table class="table table-bordered table-striped">
		<thead>
			<tr bgcolor="#1E90FF">
				<th>Tickets</th>
				<th>Status</th>
				<th>Priority</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<% unless @tickets.blank? %>
			<% @tickets.order("updated_at desc").each do |ticket| %>
			<tr>
				<td> <%= link_to "#{ticket.title}", ticket_path(ticket)%>
				<% unless ticket.support %> <span class="label label-success">new</span> <% end %> </td>
				<td><%= ticket.status %></td>
				<td><%= ticket.priority %></td>

				<td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
			<% end %>
		</tbody>
	</table>
</div>
<br>
<% end %>

<% if current_user.type == 'Client' %>
<%= link_to 'Create New Ticket', new_ticket_path, :class=>"btn btn-lg btn-primary" %>
<% end %>
