<% if flash[:notice]%>
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
<%= flash[:notice]%>
</div>
<% end %>
</div>

<h1>Welcome Support</h1>

<p>
	<strong>Name:</strong>
	<%= current_user.name %>
</p>

<p>
	<strong>Email:</strong>
	<%= current_user.email %>
</p>

<% if current_user.agent? %>
<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>

			<tr bgcolor="#1E90FF">
				<th>My Tickets</th>
				<th>Status</th>
                <th>Delete</th>
			</tr>
		</thead>

		<tbody>
			<% @tickets.order("updated_at desc").each do |ticket| %>
			<tr>
				<td>
					
					<%= link_to "#{ticket.title}", ticket_path(ticket) %></td>
				<td><%= ticket.status %></td>
				<td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>

			</tr>
			<% end %>
		</tbody>
	</table>
	</div>
	<% end %>
	<br>

	<% if current_user.admin? %>
	<%= link_to 'Create New Support', new_support_path %> |
	<%= link_to 'Back', admins_path %>
	<% end %>
