<% if flash[:notice]%>
<div class="alert alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		&times;
	</button>
	<%= flash[:notice]%>
</div>
<% end %>

<h1>Listing purchases</h1>

<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr bgcolor="#1E90FF">
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.name %></td>
        <td><%= link_to 'Show', admin_purchase_path(purchase) %></td>
        <td><%= link_to 'Edit', edit_admin_purchase_path(purchase) %></td>
        <td><%= link_to 'Destroy', admin_purchase_path(purchase), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Purchase', new_admin_purchase_path, :class=>"btn btn-primary btn-sm" %>
